.o-img8{
 
    width: 620px;
      padding-right: 120px;
      
   }

   .col-lg-auto{

    background-color: bisque;

   width:608px;
   padding-left: 10px;
   padding-top: 100px;
   }

   .parrafo-grid{
width: 490px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   