
.recuadr-ezquina-izquierda{
    width: 600px;
    height: 600px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: bisque;}


.o-img3{
 
   
}

.o-img4 {


}

.o-brown-foot{
    height: 150px;
    width:100%;
    background-color: bisque;
}

.imagen-fondo{

    
}