.o-white-mid-3{

    height: 55px;
    width: auto;
}

.o-imagen12{

    padding-top: 80px;
    padding-left: 100px;

}

.div-text{

    background-color: bisque;
    padding-left: 250px;
    height: 200px;
    width: 52vw
}

.text{

    font-weight: bolder;
    font-size: xx-large;
    color:black;
    text-align: justify;
}

.o-imagen14{
    padding-left: 110px;

}