body{
    font-family: 'Roboto';
}

.Cont-Tot{
    background-color:bisque;
    max-width: 100%;
    height: auto;
    
}

.conte-head{

    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-template-areas: "overlap";
}

.video-player{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.video{

   
  min-width: 100%; 
  min-height: 100%; 

  
  width: auto;
  height: auto;

  
  
  top: 50%;
  left: 50%;
 
}

.conte-head{

    grid-area: overlap;
    z-index: -1
}

.conte-image{

    grid-area: overlap;
    ;
}