body{
    font-family: 'Roboto';
}

.o-img1{
    width: 100%;
    height: auto;

}

.o-img2{
    width: 100%;
    height: auto;
    position: relative;


}

.o-img4{
    width: 100%;
    height: auto;
    position: relative;

}

.o-img3{
    width: 100%;
    height: auto;
    position: relative;

}